@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<StudentsMVC.Models.Student>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Student info:</h3>
<ul>
    @foreach (var student in Model)
    {
        <li>@student.FirstName @student.LastName (ID: @student.Id)</li>
    }
</ul>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
